*{
    margin: 0;
    padding: 0;
}
header{
    max-width: 1130px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.nav-superior{
    display: flex;
    align-items: center;
}
.logo{
    flex: 1;
    max-width: 50%;
}
.logo-img{
    width: 180px;
    height: 35px;
}
.contact{
    display: flex;
    max-width: 50%;
    height: 90px;
    justify-content: flex-end;
    align-items: center;
}
.contact div{
    margin-left: 50px;
    justify-content: center;
    align-items: center;
}
.contact a{
    margin-left: 10px;
    text-decoration: none;
    color: #a39694;
}
.contact-button a{
    border: 2px #ff3414;
    color: #ff3414;
}
.contact-link i{
    color:#ff3414;
}
.nav-inferior ul{
    display: flex;
}
.nav-inferior li{
    list-style: none;
    margin-left:50px;
}