.card{
    flex-basis: 10%;
    padding: 10px;
}
.card p{
    font-size: 0.8em;
    color: #595959;
  
}
.container{
    flex-direction: column;
    gap: 30px;
}
.btn{
    padding: 10px;
    align-items: center;
}
.rounded-circle{
    min-height: 100px;
    max-width: 100px;
}
@media(min-width: 524px){
    .container{
    gap: 25px;
    flex-flow:wrap
    }

.card{
    flex-basis: 24%;
}
}