*{
    user-select: none;
}
html {
    scroll-behavior: smooth;
  }
body{
    margin: 0;
    padding: 0;
    background-color: #f5f2ea;
}
a{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
ul{
    display: flex;  
}
li{
    list-style: none;
}
header{
    height: 877px;
}
.background{
    background: url(Recursos/bg-2.jpg);
    background-position: top;
    width: 100%;
    height: 877px;
    filter: brightness(40%);
    position: absolute;
}
.nav-container{
    display: flex;
    width: 70%;
    max-width: 1280px;
    margin: auto;
    justify-content: space-around;
    position: relative;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 51px;
    height: 51px;
    padding: 0%;
    margin-right: 4px;
    filter: invert(100%);
}
.logo p{
    color:#fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20.8px;
}
nav ul li{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-right: 15px;
    margin-left: 15px;
}
nav ul li a{
    color: #fff;
}
nav ul li a:hover{
    color: #be915b;

}
.banner{
    position: relative;
    text-align: center;
    margin-top: 10%;
}
.banner h1{
    font-family: 'Oswald', sans-serif;
    font-size: 120px;
    color: #ffffff;
    margin-top: 0px;
}
.banner h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #be915b;
    margin-bottom: 0;
}
.banner a{
    text-decoration: none;
    color: #be915b;
    border: 3px solid #be915b;
    padding: 12px 30px 12px 30px;
    transition: 0.4s;
}
.banner a:hover{
    background: #be915b;
    color: #fff;
    transition: 0.4s;
}
#for{
    display: flex;
}
.for{
    display: flex;
    width: 100%;
    height: 571px;
}
.for-{
    width: 100%;
    height: 571px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.for-us{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.for-us img{
    height: 80px;
    width: 80px;
}
.for-us h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 1.5rem;
}
.for-us h4{
    font-family: 'Inter', sans-serif;
    color: #292827;
    font-weight: 1;
}
.for-us hr{
    width: 395px;
    color: #bf925b;
    height: 2px;
    background-color: #bf925b;
    border: 0px;
}
.for-us p{
    color:#9c9283;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    padding: 1.5rem;
    line-height: 2rem;
    margin: 0px 60px;
    text-align: center;
}
.for-us a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.5rem;
    border: 3px solid #be915b;
    color:#be915b;
    transition: 0.4s;
}
.for-us a:hover{
    background: #be915b;
    color: #fff;
    transition: 0.4s;
}

.fm_img{
    background: url(Recursos/formen.jpg);
    width: 719px;
    height: 571px;
    filter: brightness(40%);
    position: absolute;
    background-position: center;
    background-size: cover;
}
.fw_img{
    background: url(Recursos/forwomen.jpg);
    width: 719px;
    height: 571px;
    filter: brightness(40%);
    position: absolute;
    background-position: center;
    background-size: cover;
}
.a{
    position: relative;
    text-align: center;
    border: 2px solid  rgba(191, 146, 91, 1);
    display: flex;
    flex-direction: column;
    width: 490px;
    height: 490px;
}
.a p{
    color: #fff;
    margin-top: 0;
    padding-top: 50%;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
}
.a a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    color: rgba(191, 146, 91, 1);
    transition: 0.4s;
}
.a a:hover{
    color: #fff;
    transition: 0.4s;
}

